<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.bannirui.mms.dal.mapper.EnvMapper">
    <select id="selectByEnvIds" resultType="com.github.bannirui.mms.dal.model.EnvHostServerExt">
        select
        env.id as envId,
        env.name as envName,
        env.status as envStatus,
        env.sort_id as envSortId,
        env.zk_id as zkId,
        server.name as zkName,
        server.port as zkPort,
        host.host as zkHost
        from env
        left join server on env.zk_id=server.id
        left join host on host.id=server.host_id
        where env.id in
        <foreach collection="envIds" item="envId" open="(" separator="," close=")">
            #{envId}
        </foreach>
    </select>
    <select id="selectByEnvId" resultType="com.github.bannirui.mms.dal.model.EnvHostServerExt">
        select
        env.id as envId,
        env.name as envName,
        env.status as envStatus,
        env.sort_id as envSortId,
        env.zk_id as zkId,
        server.name as zkName,
        server.port as zkPort,
        host.host as zkHost
        from env
        left join server on env.zk_id=server.id
        left join host on host.id=server.host_id
        where env.id = #{envId}
    </select>
    <select id="selectNotDel" resultType="com.github.bannirui.mms.dal.model.EnvHostServerExt">
        select
        env.id as envId,
        env.name as envName,
        env.status as envStatus,
        env.sort_id as envSortId,
        env.zk_id as zkId,
        server.name as zkName,
        server.port as zkPort,
        host.host as zkHost
        from env
        left join server on env.zk_id=server.id
        left join host on server.host_id=host.id
        where env.status != 0
    </select>
    <select id="selectEnvExtEnable" resultType="com.github.bannirui.mms.dal.model.EnvHostServerExt">
        select
            env.id as envId,
            env.name as envName,
            env.status as envStatus,
            env.sort_id as envSortId,
            host.id as hostId,
            host.name as hostName,
            host.host as hostHost,
            host.status as hostStatus,
            server.id as serverId,
            server.name as serverName,
            server.type as serverType,
            server.port as serverPort,
            server.status as serverStatus
        from env
                 left join host on env.id=host.env_id
                 left join server on host.id=server.host_id
        where env.status = 2
    </select>
    <select id="mqMetaDataByEnvId" resultType="com.github.bannirui.mms.dal.model.MqMetaDataExt">
        select
            server.name as clusterName,
            host.host as clusterHost,
            server.port as clusterPort,
            server.type as clusterType,
            server.status as clusterStatus,
            topic.name as topicName,
            topic.status as topicStatus,
            consumer.name as consumerName,
            consumer.status as consumerStatus,
            consumer.consumer_broadcast as consumerBroadcast,
            consumer.consumer_from_min as consumerFromMin
        from env
                 left join host on host.env_id = env.id
                 left join server on server.host_id = host.id
                 left join topic_ref on topic_ref.server_id=server.id
                 left join topic on topic.id=topic_ref.topic_id
                 left join consumer on consumer.topic_id=topic.id
        where server.type in (1,2) and env.id = #{envId}
    </select>
</mapper>