<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.bannirui.mms.dal.mapper.TopicEnvServerMapper" >
  <select id="getByTopicId" resultType="com.github.bannirui.mms.dal.model.TopicEnvServerRef">
    select tes.id as tes_id,
           tes.topic_id,
           topic.name  as topic_name,
           tes.env_id,
           env.name    as env_name,
           tes.server_id,
           server.name as server_name,
           server.type as server_type
    from topic_env_server as tes
           LEFT JOIN topic on topic.id = ref.topic_id
           LEFT JOIN env on ref.env_id = env.id
           LEFT JOIN server on ref.service_id = server.id
    where ref.topic_id = #{topicId}
  </select>
</mapper>