<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.bannirui.mms.dal.mapper.TopicMapper" >
    <select id="pageAll" resultType="com.github.bannirui.mms.dal.model.TopicEnvServerRef">
        select
            topic.id as topic_id,
            topic.name  as topic_name
        from topic
    </select>
</mapper>